<% include ./partials/header %>

<header class="container">
    <div class="jumbotron">
        <h1 style="color: white;">New Client</h1>
        <form action="/new_client" method="POST">
			<div class="form-group">
				<input placeholder="  Client ID" type="text" name="ClientID" required>
			</div>
			<div class="form-group">
				<input placeholder="  Budget" type="text" name="Budget" required>
			</div>
			<div class="form-group">
				<input placeholder="  Phone Num" type="text" name="Phone">
			</div>
			<div class="form-group">
				<input placeholder="  Address" type="text" name="Address">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-lg">Submit</button>
			</div>
		</form>
    </div>
</header>

<% include ./partials/footer %>